@page "/"
@using Excubo.Blazor.TreeViews

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@if (Root == null) {
    <p><em>Loading...</em></p>
} else {
    <table>
        <tbody>
            <TreeView Items="@Root.Children" GetChildren="(item) => item.Children">
                <ItemTemplate>
                    <tr>
                        <td>@context.Item.Name</td>
                    </tr>
                </ItemTemplate>
            </TreeView>
        </tbody>
    </table>
}
