@page "/{*pageRoute}"
@using Excubo.Blazor.TreeViews

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@if (Contents == null) {
    <p><em>Loading...</em></p>
} else {
    <p><em>@PageRoute</em></p>
    <TreeView Items="@Contents.Children" GetChildren="(item) => item.Children">
        <ItemTemplate>
            <NavLink class="nav-link" href="@context.Item.Path">
                @context.Item.Name
            </NavLink>
        </ItemTemplate>
    </TreeView>
}